@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: white;
  }
  
  /* Encabezado con color */
  .main-header {
    background-color: #ff69b4; 
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
  }
  
  main {
    width: 100%;       /* El contenedor main ocupa todo el ancho disponible */
    height: 100vh;     /* El contenedor main ocupa toda la altura de la pantalla */
  }
  
  .main-content {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;      /* Asegura que el contenido ocupe el 100% de la altura del contenedor */
    width: 100%;       /* Asegura que el contenido ocupe el 100% del ancho del contenedor */
    box-sizing: border-box; /* Asegura que el padding no haga que el contenido se desborde */
  }
  /* Pie de página con color */
  .main-footer {
    background-color: #ff69b4; 
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
  }
  